<!DOCTYPE html>

<% if (config.language){ %>
<html lang="<%= config.language %>">
<% } else { %>
<html lang="en">
<% }%>

<head>
    <meta charset="utf-8" />
    <% var title = page.title; if (is_archive()) { title = __('archive_a'); if
      (is_month()) { title += ': ' + page.year + '/' + page.month; } else if
      (is_year()) { title += ': ' + page.year; } } else if (is_category()) {
      title = page.category; } else if (is_tag()) { title = __('tag') + ': ' +
      page.tag; } %>
    <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>" />
    <% } else if (config.keywords){ %>
    <meta name="keywords" content="<%= config.keywords %>" />
    <% } %>
    <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>" />
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>" />
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %>
    </title>
    <% if (theme.favicon){ %>
    <%- js('/js/jquery-3.6.0.min') %>
    <%- js('/js/jquery.pjax.js') %>
    <link rel="shortcut icon" href="<%- theme.favicon %>" />
    <% } %>
    <%- css('dist/main') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Shen-Yu/cdn/css/remixicon.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma@5.0.1/bulma.min.css" />
    <%- css('css/custom') %>
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <!-- cnzz统计 -->
    <% if (theme.cnzz&&theme.cnzz.enable){ %>
    <script type="text/javascript">
        document.write(unescape("%3Cspan id='cnzz_stat_icon_<%= theme.cnzz.id %>'%3E%3C/span%3E%3Cscript src='<%= theme.cnzz.url %>' type='text/javascript'%3E%3C/script%3E"));
        document.getElementById("cnzz_stat_icon_<%= theme.cnzz.id %>").style.display = "none";

    </script>
    <% } %>
    <% if (theme.progressBar){ %>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js"></script>
    <% } %>
    <!-- 看板娘插件 -->
    <script src="/live2d-widget/autoload.js"></script>
    <!-- Valine -->
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js"></script>
    <!-- mermaid -->
    <% if (theme.mermaid.enable) { %>
    <script src="<%= theme.mermaid.cdn %>"></script>
    <% } %>
    <%- js('/js/lazyload.min') %>
    <script src="https://cdn.jsdelivr.net/npm/jquery-modal@0.9.2/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-modal@0.9.2/jquery.modal.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.7.0/dist/js/jquery.justifiedGallery.min.js"></script>
    <!-- ImageViewer -->
    <% if (theme.image_viewer){ %>
    <%- partial('viewer') %>
    <% } %>
    <!-- ClickLove -->
    <% if (theme.click_effect===1){ %>
    <%- js('/js/clickLove') %>
    <% } %>
    <!-- ClickBoom1 -->
    <% if (theme.click_effect===2){ %>
    <script src="https://cdn.jsdelivr.net/npm/animejs@latest/anime.min.js"></script>
    <%- js('/js/clickBoom1') %>
    <% } %>
    <!-- ClickBoom2 -->
    <% if (theme.click_effect===3){ %>
    <%- js('/js/clickBoom2') %>
    <% } %>
    <!-- CodeCopy -->
    <% if (theme.copy_btn == true) { %>
    <%- css('/css/clipboard') %>
    <%- partial('post/clipboard') %>
    <% } %>
    <!-- CanvasBackground -->
    <% if (theme.canvas_bg == 1) { %>
    <%- js('/js/dz') %>
    <% } %>
    <%- js('dist/main') %>
    <style>
        #vcomments-box {
            padding: 5px 30px;
        }

        @media screen and (max-width: 800px) {
            #vcomments-box {
                padding: 5px 0px;
            }
        }

        #vcomments-box #vcomments {
            background-color: #fff;
        }

        .v .vlist .vcard .vh {
            padding-right: 20px;
        }

        .v .vlist .vcard {
            padding-left: 10px;
        }

        .vpower {
            display: none;
        }

        .swal2-styled.swal2-confirm {
            font-size: 1.6rem;
        }

    </style>
    <script>
        // mermaid
        if (window.mermaid) {
            mermaid.initialize({
                theme: "<%= theme.mermaid.theme %>"
            });
        }

        // 点击内容自动隐藏侧边栏
        $(function () {
            $("main").click(function () {
                if ($(window).width() <= 768) {
                    $("main, aside").addClass("on");
                }
            });
        });

        // Valine
        var init_valine = function () {
            new Valine({
                el: "#vcomments",
                app_id: "<%- theme.leancloud.app_id %>",
                app_key: "<%- theme.leancloud.app_key %>",
                path: window.location.pathname,
                avatar: "<%- theme.valine.avatar %>",
                placeholder: "<%- theme.valine.placeholder %>",
                recordIP: true,
            });
            const infoEle = document.querySelector("#vcomments .info");
            if (infoEle && infoEle.childNodes && infoEle.childNodes.length > 0) {
                infoEle.childNodes.forEach(function (item) {
                    item.parentNode.removeChild(item);
                });
            }
            if (localStorage.hide_comments == 1) {
                $("#vcomments-box").hide();
            }
        }
        $(init_valine);

        // 隐藏元素
        function apply_settings () {
            if (localStorage.hide_welcome == 1) {
                let ele = document.getElementById("post-Welcome");
                if (ele && window.location.pathname != "/post/fc4592d957ed/") {
                    ele.setAttribute("style", "display: none;");
                }
            }
            if (sessionStorage.hide_copyright == 1) {
                let ele = document.getElementsByClassName("declare")[0];
                if (ele != undefined) {
                    ele.setAttribute("style", "display: none;");
                }
                document.getElementById("footer").setAttribute("style", "display: none;");
                document.getElementsByClassName("article-footer")[0].setAttribute("style", "display: none;");
            }
            if (localStorage.show_btns == 0) {
                document.getElementsByClassName("float_btns")[0].setAttribute("style", "display: none;");
            }
        }
        $(apply_settings);

        // pjax动态更新
        var pathname = window.location.pathname;
        $(document).on('pjax:complete', function () {
            // 如果页面不一致，则滚动到顶部，并执行main
            if (window.location.pathname != pathname) {
                pathname = window.location.pathname;
                $("main").scrollTop(0);
            }
            // 应用JavaScript
            $(function () {
                apply_settings();
                main();
                init_valine();
                viewer_init();
                clipboard(window, document);
            })
        })
        isGitee = /gitee\.io$/.test(window.location.hostname.toLowerCase());
        timeDelta = Date.now() % 600000; // 当前时间距上个整十分钟的毫秒数
        $(document).pjax("a:not(#reload)[href^='/']", "main", {
            fragment: "main"
        });
        // 由于Gitee将缓存有效期设得很长，此处执行手动刷新，超时10分钟，与GitHub保持一致
        // 仅刷新HTML本身，HTML引用的外部资源仍使用浏览器缓存
        $(function () {
            if (!isGitee) {
                return;
            }
            var now = Date.now();
            if (localStorage.gitee_last_updated == undefined || now - localStorage.gitee_last_updated >= 600000) {
                localStorage.gitee_last_updated = now;
                $("#reload").attr("href", window.location.href);
                if (window.location.pathname == '/') {
                    $(document).pjax("#reload", ".articles", {
                        fragment: ".articles",
                        push: false
                    });
                } else {
                    $(document).pjax("#reload", "main", {
                        fragment: "main",
                        push: false
                    });
                }
                $("#reload").click();
            }
        });

    </script>
</head>

</html>

</html>
