<!DOCTYPE html>

<% if (config.language){ %>
<html lang="<%= config.language %>">
<% } else { %>
<html lang="en">
<% }%>

<head>
    <meta charset="utf-8" />
    <% var title = page.title; if (is_archive()) { title = __('archive_a'); if
      (is_month()) { title += ': ' + page.year + '/' + page.month; } else if
      (is_year()) { title += ': ' + page.year; } } else if (is_category()) {
      title = page.category; } else if (is_tag()) { title = __('tag') + ': ' +
      page.tag; } %>
    <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>" />
    <% } else if (config.keywords){ %>
    <meta name="keywords" content="<%= config.keywords %>" />
    <% } %>
    <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>" />
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>" />
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %>
    </title>
    <% if (theme.favicon){ %>
    <%- js('/js/jquery-3.6.0.min') %>
    <%- js('/js/jquery.pjax.js') %>
    <script>
        // pjax动态更新
        if (location.pathname == '/') {
            $(document).pjax("a:not(#reload)[href^='/'][href!='/']", "section.outer", {
                fragment: "section.outer"
            });
            $(document).on('pjax:beforeReplace', function () {
                if(!$("#reload").hasClass("ready")){
                    $(".cover, .notice").remove()
                }
            });
        } else {
            $(document).pjax("a:not(#reload)[href^='/'][href!='/']", ".article-inner", {
                fragment: ".article-inner"
            });
        }
        // 由于Gitee将缓存有效期设得很长，此处执行手动刷新，超时10分钟，与GitHub保持一致
        // 仅刷新HTML本身，HTML引用的外部资源仍使用浏览器缓存
        if (/gitee\.io$/.test(window.location.hostname.toLowerCase())) {
            var now = Date.now();
            if (localStorage.gitee_last_updated == undefined || now - localStorage.gitee_last_updated >= 600000) {
                localStorage.gitee_last_updated = now;
                if (location.pathname == '/') {
                    $(document).pjax("#reload", ".articles", {
                    fragment: ".articles"
                    });
                }
                else{
                    $(document).pjax("#reload", ".article-inner", {
                    fragment: ".article-inner"
                    });
                }
                $("#reload").addClass("ready");
                $("#reload").attr("href", window.location.href);
                $("#reload").click();
                $("#reload").removeClass("ready");
            }
        }

    </script>
    <link rel="shortcut icon" href="<%- theme.favicon %>" />
    <% } %>
    <%- css('dist/main') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Shen-Yu/cdn/css/remixicon.min.css" />
    <%- css('css/custom') %>
    <% if (theme.progressBar){ %>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js"></script>
    <% } %>
    <%- partial('google-analytics') %>
    <%- partial('baidu-analytics')
      %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma@5.0.1/bulma.min.css" />
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <!-- 看板娘插件 -->
    <script src="/live2d-widget/autoload.js"></script>
    <!-- mermaid -->
    <% if (theme.mermaid.enable) { %>
    <script src="<%= theme.mermaid.cdn %>"></script>
    <% } %>
    <style>
        .swal2-styled.swal2-confirm {
            font-size: 1.6rem;
        }

    </style>
</head>

</html>

</html>
